*{
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  }

  /* utility classes */
.pl_150{
  padding-left: 150px;
}
.pr_150{
  padding-right: 150px;
}

/* utility classes */


/***** HEADER *****/
/* navbar */
.nav{
  background-color: #2C3F50;
  color: white;
  height: 105px;
}
.navbar-right a{
  color: white;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
}
.navbar-right li a{
  line-height: 75px;
}
.nav li a:hover, .nav a:hover{
  text-decoration: none;
  color: #19BC9D;
  background-color: #2C3F50;
}
.navbar-brand{
  font-size: 2.5rem;
  line-height: 75px;
  font-weight: 700;
  color: white;
}
/* /navbar */

/* jumbotron */
.jumbotron{
  background-color: #19BC9D;
  color: white;
  text-align: center;
}
.jumbotron img{
  height: 250px;
  margin-top: 150px;
}
.jumbotron h1{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 64px;
  margin-top: 30px;
}
.jumbotron p{
  font-family: Lato;
  font-weight: 400;
  font-size: 26px;
}
/* /jumbotron */
/***** /HEADER *****/



/***** MAIN *****/
/* portfolio */
.portfolio{
  text-align: center;
  margin-bottom: 70px;

}
.portfolio h2{
  margin-bottom: 25px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 42px;
  color: #2C3F51;
}
.card img{
  height: 250px;
  border-radius: 10px;
}
.link {
  position: relative;
  display: block;
  margin: 20px 0;
}
.overlay_card{
  background-color: rgba(26, 188, 156, 0.9);
  color: white;
  height: 100%;
  width: 97%;
  margin-left: 5px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  display: block;
  display: none;
  padding-left: 10px;
}
.plus{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
}
.card:hover .overlay_card{
  display: block;
}
/* /portfolio */

/* about */
.about{
  color: white;
  background-color: #19BC9D;
  text-align: center;
}
.about h2{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 25px;
  margin-top: 50px;
}
.about p{
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  padding-top: 25px;
}
.about .btn{
  border: 1px solid white;
  background-color: #19BC9D;
  color: white;
  font-weight: 400;
  font-family: Lato;
}
.about button{
  margin-top: 25px;
  margin-bottom: 100px;
}
.about .btn:hover{
  background-color: white;
  color: black;
}
/* /about */


/* form */
.contact_me{
  text-align: center;
}
.contact_me h2{
  margin-bottom: 25px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 42px;
  color: #2C3F51;
  margin: 50px 0 50px 0;
}
.contact_me label{
  color: #6D757D;
  font-family: Lato;
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  display: block;
}
.message{
  height: 150px;
}
.form .btn{
  color: #fff;
  background-color: #159a80;
  border-color: #148f77;
  text-align: left;
  display: block;
  margin-bottom: 100px;
  margin-top: 25px;
}
/* /form */
/***** /MAIN *****/


/***** FOOTER *****/
footer{
  text-align: center;
  color: white;
}
.footer_top{
  background-color: #3A546D;
  padding-bottom: 50px;
}
.footer_top p{
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.btn_social{
  color: white;
  border: 2.5px solid white;
  border-radius: 100%;
  padding: 15px;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  margin: 0 5px;
}
.btn_social:hover{
  background-color: white;
  color: black;
}
.social{
  margin-top: 25px;
  margin-bottom: 25px;

}
.link_special{
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  color: #19BC9D;
}
.link_special:hover{
  color: #159a80;
}
.footer_bottom{
  background-color: #1A252F;
}
.footer_bottom p{
  margin: 25px;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
}
/***** /FOOTER *****/






/*** style for md (medium) screen ***/
@media screen and (min-width: 769px) and (max-width: 1200px){
  .about .pl_150{
    padding: 0px;
  }
  .about .pr_150{
    padding: 0;
  }


}




/*** style for xs (small) screen ***/
@media screen and (max-width: 768px){
  .fa-bars{
    margin-top: 30px;
  }
  .about .pl_150{
    padding: 0;
  }
  .about .pr_150{
    padding: 0;
  }




}
