/* utility classes */
.pl_50{
  padding-left: 50px;
}
.pr_50{
  padding-right: 50px;
}
/* utility classes */


/***** HEADER *****/
/* navbar */
nav{
  background-color: #2C3F50;
  color: white;
  height: 100px;
}
.nav_right{
  text-align: right;
}
.nav_right a{
  text-decoration: none;
  color: white;
}
.nav_left{
  text-align: left;
}
/* /navbar */

/* jumbotron */
.jumbotron{
  background-color: #19BC9D;
  color: white;
  height: 500px;
  text-align: center;
}
/* /jumbotron */
/***** /HEADER *****/



/***** MAIN *****/
/* portfolio */
.portfolio{
  text-align: center;
}
.card{
  border: 1px solid black;
  padding: 100px;
}
/* /portfolio */

/* about */
.about{
  color: white;
  background-color: #19BC9D;
  text-align: center;
}
/* /about */

/* form */
.contact_me{
  text-align: center;
}
/* /form */
/***** /MAIN *****/


/***** FOOTER *****/
footer{
  text-align: center;
  color: white;
}
.footer_top{
  background-color: #3A546D;
}
.footer_bottom{
  background-color: #2C3F51;
}
/***** /FOOTER *****/






/*** style for md (medium) screen ***/
@media screen and (min-width: 769px) and (max-width: 1200px){
  /* verificare se le dimensioni sono giuste */


}




/*** style for xs (small) screen ***/
@media screen and (max-width: 768px){


}
